
<header class="masthead">
	<nav class="language-nav">
		<ul>
			<li id="css-btn">
				<span>CSS</span>
			</li>
			<li id="html-btn">
				<span>HTML</span>
			</li>
      <li id="Ruby-btn">
        <span>Ruby</span>
      </li>
      <li id="html-btn">
				<span>HTML</span>
			</li>

		</ul>
	</nav>
	<nav class = "masthead-links">
     <img class="logo"src="<%=image_url "AA_Times_Logo.png" %>"
		<ul>

			<li id="date">
			     <span>Wednesday, August 23, 2017</span>
			</li>
			<li id="today-paper">
        <i class="fa fa-newspaper-o"></i>
				<button type="button" name="today-paper">Today's Paper</button>
			</li>
      <li id="video">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <button type="button" name="video">Video</button>
      </li>
			<li id="temperature">
        <i class="fa fa-sun-o" aria-hidden="true"></i>
				<span>77°F</span>
			</li>
      <li id="stock-ticker">
				<span>AAO +100%</span>
			</li>

		</ul>
	</nav>
</header>
