<header class="section">
  <nav class="section-nav">
    <ul>
      <li id="world">World</li>
      <li id="san-francisco">San Francisco</li>
      <li id ="new-york">New York</li>
      <li id ="bootcamp-prep">Bootcamp Prep</li>
      <li id=jumpstart>Jumpstart</li>
      <li id="online">Online</li>
      <li id="marketing">Marketing</li>
      <li id="sales">Sales</li>
      <li id="talentmatch">TalentMatch</li>
      <li id="alumni">Alumni</li>
      <li id="all">All</li>



    </ul>
  </nav>
</header>
